$ff-primary: Poppins;

$font-url: "@/assets/fonts";

$font-faces: (
  $ff-primary: (
    extra-bold: (
      font-style: normal,
      font-weight: 800,
      src: url("#{$font-url}/ttf/PoppinsLatin-ExtraBold.ttf"),
    ),
    bold: (
      font-style: normal,
      font-weight: 700,
      src: url("#{$font-url}/ttf/PoppinsLatin-Bold.ttf"),
    ),
    semi-bold: (
      font-style: normal,
      font-weight: 600,
      src: url("#{$font-url}/ttf/PoppinsLatin-SemiBold.ttf"),
    ),
    medium: (
      font-style: normal,
      font-weight: 500,
      src: url("#{$font-url}/ttf/PoppinsLatin-Medium.ttf"),
    ),
    reqular: (
      font-style: normal,
      font-weight: 400,
      src: url("#{$font-url}/ttf/PoppinsLatin-Regular.ttf"),
    ),
  ),
);
