@use "../../abstracts/index" as *;


@mixin transition($type: '', $duration: 0.3) {
  .v-enter-active,
  .v-leave-active {
    transition: #{$duration}s ease-in-out;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }

  @if($type == slide-x) {
    .v-enter-from {
      transform: translateX(50%);
    }

    .v-leave-to {
      transform: translateX(-50%);
    }
  }

  @else if($type == slide-y) {
    .v-enter-from {
      transform: translateY(50%);
    }

    .v-leave-to {
      transform: translateY(-50%);
    }
  }
}